<div class="task-view-comment-link-preview__left">
    <a class="task-view-comment-link-preview__link" href="https://brackets.io" target="_blank">Brackets.io</a>
    <div class="task-view-comment-link-preview__description">
        Brackets - a modern code editor that understands web design
    </div>
</div>
<div class="task-view-comment-link-preview__right">
    <div class="task-view-comment-link-preview__cover" style="background-image: url(https://s-ec.bstatic.com/data/xphoto/1182x887/375/37508832.jpg?size=m)"></div>
</div>