<div class="task-view-comment-form-file__files-images">
  <!--<ux-preview-image class="task-view-comment-form-file__file-item"></ux-preview-image>-->
  <!--<ux-preview-image class="task-view-comment-form-file__file-item"></ux-preview-image>-->
  <!--<ux-preview-image class="task-view-comment-form-file__file-item"></ux-preview-image>-->
  <!--<ux-preview-image class="task-view-comment-form-file__file-item"></ux-preview-image>-->
  <!--<ux-upload-image class="task-view-comment-form-file__file-item"></ux-upload-image>-->
  <!--<ux-upload-image class="task-view-comment-form-file__file-item"></ux-upload-image>-->
  <!--<ux-upload-image class="task-view-comment-form-file__file-item"></ux-upload-image>-->
  <!--<ux-upload-image class="task-view-comment-form-file__file-item"></ux-upload-image>-->
  <ux-upload-image class="task-view-comment-form-file__file-item"></ux-upload-image>
</div>

<div class="task-view-comment-form-file__files-file">
  <ux-preview-file></ux-preview-file>
  <ux-preview-file></ux-preview-file>
</div>